cmake-build-debug
.idea
build/

# Ignore all third_party contents except submodule metadata
third_party/*
!third_party/.gitkeep

# Ignore build artifacts
*.lib
*.pdb
*.obj
*.o
*.a
*.dll
*.so
*.dylib

# Ignore downloaded/pre-built binaries
*-prebuilt/
/third_party/glew/auto/OpenGL-Registry/.dummy
/third_party/glew/auto/EGL-Registry/.dummy

# glew/glm are fetched by CMake (glew tarball, glm 1.0.1 clone), not submodules
third_party/glew/
third_party/glm/
